/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fefae0;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #bc6c25;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    padding: 5px 15px;
    margin: 0 15px;
  }

  .navbar ul li:hover{
    border-radius: 2rem;
    background-color: #dda15e;
  }
  
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    font-size: 1.2em;
    text-decoration: none;
  }

  .file-manager {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  /* Upload Area Styles */
  .upload-area {
    border: 2px dashed #bc6c25;
    padding: 5rem 2rem;
    text-align: center;
    background-color: #f6ece0;
    width: 90%;
    margin-bottom: 5rem;
  }
  
  .upload-area p {
    margin: 0.1rem;
    color: #6c3d06;
  }
  
  /* Preview Panel Styles */
  .preview-panel {
    width: 45%;
    background-color: white;
    border: 0.1rem solid #ddd;
    box-shadow: inset 0 0 1.5rem #dda15e;
    padding: 3rem 4rem;
    text-align: center;
  }
  
  .preview-panel h2 {
    color: #6c3d06;
    border-bottom: 1px solid #6c3d06;
    margin-top: 0;
  }
  
  #file-thumbnail {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .action-buttons button {
    background-color: #bc6c25;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 2%;
  }
  
  .action-buttons button:hover {
    background-color: #6c3d06;
    font-size: 1.2em;
  }
  div{
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .file-manager {
      flex-direction: column;
    }
  
    .upload-area,
    .preview-panel {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  